@model EMS.Web.ViewModels.EmployeeLeaveBalanceViewModel

@{
    ViewData["Title"] = "Edit Leave Balance";
}

<h1>@ViewData["Title"]</h1>

<div class="validation-message">
    @if (TempData["ErrorMessage"] != null)
    {
        <p class="alert-danger">@TempData["ErrorMessage"]</p>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <p class="alert-success">@TempData["SuccessMessage"]</p>
    }
</div>

<hr />
<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="EditLeaveBalance">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeLeaveBalance.LeaveBalanceId" />
            <input type="hidden" asp-for="EmployeeLeaveBalance.EmployeeId" />

            <div class="form-group">
                <label asp-for="EmployeeLeaveBalance.Employee.EmailAddress" class="control-label"></label>
                <input asp-for="EmployeeLeaveBalance.Employee.EmailAddress" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="EmployeeLeaveBalance.LeaveTypeId" class="control-label"></label>
                <select asp-for="EmployeeLeaveBalance.LeaveTypeId" class="form-control" asp-items="@(new SelectList(Model.LeaveTypeList,"Value","Text"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeLeaveBalance.LeaveBalance" class="control-label"></label>
                <input asp-for="EmployeeLeaveBalance.LeaveBalance" class="form-control" />
                <span asp-validation-for="EmployeeLeaveBalance.LeaveBalance" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-primary float-right" asp-action="LeaveBalances">Back to List</a>
            </div>
        </form>
    </div>
</div>

